* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

section {
    display: flex;
    padding: 1rem;
    width: 100vw;
}

.graphic {
    display: flex;
}

.graphic_image {
    width: 40vw;
    background-image: url(../assets/graphic.svg);
    background-size: 300px;
    background-repeat: no-repeat;
}

.upsell_img {
    width: 40vw;
    background-image: url(../assets/upsell-footer-image.svg);
    background-size: 100px;
    background-repeat: no-repeat;
    float: right;
}

.text {
    width: 60vw;

    h4 {
        text-transform: uppercase;
        color: #ff3998;
        font-size: 0.8rem;
    }

    button {
        border: none;
        padding: 0.6rem 1rem;
        border-radius: 30px;
        background-color: white;
        border-top: #ff6d42 solid 2px;
        border-right: #cea459 solid 2px;
        border-bottom: #ff8039 solid 2px;
        border-left: #ff4b79 solid 2px;
        margin: 0 0 2rem 0;

    }
}

.bg {
    background-image: url(../assets/background.svg);
    background-repeat: no-repeat;
    flex-direction: column;
    background-size: cover;


    h1 {
        margin: 3rem 0 0;
    }
}

.companies {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;

}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
}

.bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
}

.hide_mobile {
    display: none;
}

img {
    width: 100%;
}

a {
    color: #555555;
}

.showcase {
    width: 100vw;
    flex-direction: column;

    .text {
        width: 80vw;

        p {
            color: #555555;
        }
    }

    .item-list {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        overflow-x: scroll;


        p,
        h5 {
            margin: 0;
            margin-bottom: 0.5rem;
        }

        .item {
            display: inline;

            img {
                height: 250px;
                width: auto
            }

            .info {
                background-color: #eeeeee;
                height: 110px;
                margin-top: -3px;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                display: flex;
            }
        }

        .left {
            width: 50%;
            padding: 1rem 1rem;
            text-align: left;

            h5 {
                color: #ff6d42;
                font-size: 0.7rem;
            }
        }

        .right {
            width: 50%;
            padding: 1rem 1rem;
            text-align: right;

            h5 {
                color: grey;
                font-size: 0.7rem;
            }

            p {
                margin-top: -5px;
            }

            img {
                height: 100%;
            }

        }
    }
}

.line {
    border: solid 1px rgba(128, 128, 128, 0.5);
}

footer {

    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;

    img {
        width: 200px;
    }

    .social {
        color: grey;

        i {
            margin-right: 0.4rem;
        }
    }

}

.footerlinks {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;

    a {
        text-decoration: none;

    }

    .row {
        display: flex;
        flex-direction: row;
        width: 100%;

        div {
            width: 50%;
        }

        h4 {
            margin: 0;
            padding: 1rem 0;
            text-transform: uppercase;
            font-size: 0.8rem;
            color: grey;
        }
    }

    .links {
        width: 100%;
        line-height: 1.5rem;
        display: flex;
        flex-direction: column;

    }
}

@media screen and (min-width: 900px) {
    body {
        max-width: 900px;
        margin: auto;
        text-decoration: none;
    }

    section {
        max-width: 900px;
    }

    .bottom,
    .top {
        max-width: 900px;
    }

    .show_mobile {
        display: none;

    }

    .hide_mobile {
        display: inline;
        text-decoration: none;

        a {
            margin-left: 1rem;
        }
    }

    .graphic {
        background-position: left 30vw bottom 0%;

    }

    .companies {
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;

        img {
            width: 80%;
        }
    }

    .top_footer {
        display: flex;
        flex-direction: row;
    }

    .footerlinks {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 50vw;
        margin-left: 50px;
        padding: 0;
    }

    .copy {
        margin-top: 4rem;
        display: flex;
        justify-content: space-between;
    }

    .upsell {

        background-position: left 30vw top 0vw;
        background-size: 15%;
        margin-top: 1rem;

        .text {
            height: 300px;
        }
    }    
}